:root{
    --text-color: #FFF1E6;
    --primary-color: #020D19;
    --secondary-color: #0B1215;
}
*{
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
}
.navbar {
    background-color: var(--secondary-color);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.navbar .list-item {
    position: relative;
    margin: 20px;
    text-align: center;
}
.navbar .list-item a {
    text-decoration: none;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .list-item a:hover{
    color: --;
}
.navbar .list-item i {
    font-size: 24px;
}
.navbar .list-item span {
    font-size: 1.5rem;
    position: relative;
    white-space: nowrap;
    color: var(--text-color);
    visibility: visible;
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
.backtotop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    z-index: 999;
}
.backtotop a {
    text-decoration: none;
    color: var(--text-color);
}
.backtotop.active{
    display: block;
}
.presentation-desktop{
    display: block;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    min-height: 90vh;
    color: var(--text-color);
}
.presentation-mobile{
    display: none;
}
main{ 
    margin: 80px 20px 0 20px;
}
/*Back to Top Button*/


/*Sections Css*/
section{
    display: block;
    position: relative;
    max-width: 100%;
    height: auto;
    color: var(--text-color);
    z-index: 1;
}
.presentation-desktop{
    display: none;
}
.presentation-mobile{
    display: block;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    min-height: 90vh;
    color: var(--text-color);
}
.title-me{
    padding: 50px;
}
.profile-image{
    display: flex;        
    width: 100%;        
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.profile-image img{
    width: 200px;
    border-radius: 15%;
    height: auto;
}
.section-info{
    display: flex;
    justify-content: center;
}
.section-content{
    padding: 40px;
    display: block;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 50%;
    min-height: 90vh;
    margin-top: 90px;
}
.section-content h1{
    text-align: center;
    font-size: 32px;
}
.resume{
    text-align: center;
    display: flex;
    width: 100%;
    color: aquamarine;
}
.section-info a{
    text-align: center;
    margin-top: 30px;
    color:  aquamarine;;
}
.div-content a{
    color: aquamarine;
}
.div-content{
    font-size: 20px;
}
.icon{
    width: 50px;
    aspect-ratio: 16/9;
    object-fit: contain;
    mix-blend-mode: color-burn;
}
.grid-learn div p{
    text-align: left;
}
.grid-skill div p{
    text-align: left;
}
.grid-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
    gap: 10px 20px;
}
.grid-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-text{
    display: flex;
    align-items: center;
    font-size: 20px;
    display: block;
    text-align: left;
    width: 100%;
}
.grid-img img{
    border-radius: 15%;
    width: 200px;
}
.contentdiv a{
    color: aquamarine;
}
/* Responsive design */
@media (max-width: 1024px){
    html{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    body { 
        min-width:100%;
        min-height: 100%;
        overflow:auto;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
    }
    .bar1, .bar2, .bar3{
        width: 35px;
        height: 5px;
        background-color: var(--text-color);
        margin: 6px 0;
        transition: 0.4s;
        border-radius: 50px;
    }
    .change .bar1{
        transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2{
        opacity: 0;
    }
    .change .bar3{
        transform: translate(0, -11px) rotate(45deg);
    }
    .container-button{
        margin: 10px;
        cursor: pointer;
    }
    .navbar{
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 60px;
        min-width: 100%;
        background-color: var(--primary-color);
        z-index: 999;
    }
    .navbar.active{
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
    }
    main.inactive{
        visibility: hidden;
    }
    .backtotop.inactive{
        visibility: hidden;
    }
    .navbar ul {
        display: none;
        height: 100%;
        width: 150px;
        background-color: var(--secondary-color);
    }
    .navbar-ul.active {
        transition: 3s ease;
        display: flex;
        flex-direction: column;
        height: 100%;        
        width: 100%;
        transition: none;
        margin-top: 30%;
    }
    .list-item{
        margin: 20px 20px 40px 10px!important;
    }
    .navbar .list-item a {
        visibility: visible;
        text-align: left;
        text-decoration: underline;
    }
    main{
        width: 100%;
        margin: 80px 20px 0 20px;
    }
    /*Back to Top Button*/


    /*Sections Css*/
    section{
        display: block;
        position: relative;
        max-width: 100%;
        height: auto;
        color: var(--text-color);
        z-index: 1;
    }
    .presentation-desktop{
        display: none;
    }
    .presentation-mobile{
        display: block;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        max-width: 100%;
        min-height: 90vh;
        color: var(--text-color);
    }
    .title-me{
        padding: 50px;
    }
    .profile-image{
        display: flex;        
        width: 100%;        
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
    .profile-image img{
        width: 200px;
        border-radius: 15%;
        height: auto;
    }
    .section-info{
        display: flex;
    }
    .section-content{
        padding: 10px;
        display: block;
        align-self: center;
        width: 100%;
        min-height: 90vh;
        margin-top: 90px;
    }
    .section-content h1{
        text-align: center;
        font-size: 32px;
    }
    .section-info a{
        text-align: center;
        margin-top: 30px;
        color:  aquamarine;;
    }
    .div-content a{
        color: aquamarine;
    }
    .div-content{
        font-size: 20px;
    }
    .icon{
        width: 50px;
        aspect-ratio: 16/9;
        object-fit: contain;
        mix-blend-mode: color-burn;
    }
    .grid-learn div p{
        text-align: left;
    }
    .grid-skill div p{
        text-align: left;
    }
    .grid-div{
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .grid-img{
        text-align: center;
    }
    .grid-text{
        font-size: 20px;
        display: block;
        text-align: center;
        width: 100%;
    }
    .grid-img img{
        border-radius: 15%;
        width: 200px;
    }
    .contentdiv a{
        color: aquamarine;
    }
}

@media (hover:none) and (orientation: landscape){
    .navbar .list-item span {
        position: relative;
        white-space: nowrap;
        color: var(--text-color);
        visibility: visible !important;
        transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    }
}
